.video-modal-frame {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100vmax;
    height: 100vmin;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .video-modal-frame__content {
    width: 95%;
    height: 95%;
    @media (max-width: 1200px) {
      width: 100vmax;
    }

  }
  
  .video-modal-frame__close {
    color: #aaa;
    float: right;
    font-size: 68px;
    font-weight: bold;
    @media (max-width: 1200px) {
      position: absolute;
      top: 4%;
      right: 2%;
    }
    &:hover,
    &:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }
  
